<!DOCTYPE html>
<html lang="en">
<head>
<title>home page</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
<style>#banner{
  height:360px;
  object-fit:cover;
  width:100%;
  margin-bottom:16px;
}</style>
</head>
<body>
  {% include 'navbar.html' %}
  <img class ="img-fluid" id="banner" src="https://172369be-6936-469f-a57c-6a8e288035a7-00-10kbiifqp4ajn.riker.replit.dev/static/job.jpg">
 <div class = "container">
  
  <h2 class="text-center mt-2" style="margin-bottom:16px"> Jovian Careers</h2>
   <div class ="row" style="margin-bottom:16px";>
     <!--  -->
     <div class = "col-md-6">
  <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore</p>
     </div>
     <div class = "d-none d-md-block col-md-6">
   <img src="static/people.jpg" style="height:320px;border-radius:4px;">"
  </div>
     <!--  -->
     </div>
  <h2 class="text-center mt-2 mb-4">Open Positions</h2>
 <div>{%for job in jobs%}
   {%include "jobitem.html"%}
 {%endfor%}</div>
  <div style="text-align:center;"><a class="btn btn-primary btn-lg" href = 'mailto:deepaksinghnitsurat@gmail.com?subject=Question%20about%20Job%20Openings&body=My%20name%20%3A%20%3Cmy%20name%20here%3E%0D%0AMy%20question%3A%20%3Cquestion%20here%3E%0D%0A'>Contact Us</a>
    {%include "footer.html"%}
   </div>
</body>
</html>